[run]
branch = True
omit = *.html

[paths]
source =
  src/check_reserved_instances
  .tox/*/lib/python*/site-packages/check_reserved_instances
  .tox/pypy/site-packages/check_reserved_instances

[report]
show_missing = True
