[AWS account1]
aws_access_key_id = dfghdfghjghjkdfdfh
aws_secret_access_key = dghjdfghjtyntyjuqewrdvswer235

[AWS account2]
aws_access_key_id = hjkr67845t345gq55y4
aws_secret_access_key = dfvijhbo34vjb3498tadsfghi03qh
elasticache = False
rds = False

[Email]
smtp_host = email-host.com
smtp_port = 587
smtp_user = root
smtp_password = password
smtp_recipients = test@example.com
smtp_sendas = testing <reporter@example.com>
smtp_tls = True
